* {
  box-sizing: border-box;
  /* width: 100%; */
}

html {
  scroll-behavior: smooth;
}

.larger-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 600px;
  margin: 20px 40px;
  background-color: #f5f2f0;
  transition: max-height 1s ease;
}


.Qcontainer {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  background-color: #f5f2f0;
}

.QandA {
  margin-top: 50px;
}


.header {
  display: inline-block;
  /* width: 80%; */
  /* padding-top: 15px; */
  height: auto;
  /* margin: 10px; */
  font-size: 30px;
}

.search-bar {
  display: inline-block;
  margin: 10px 0px;
}

.search {
  font-size: 15px;
  background-color: lightgray;
  margin: 10px 40px;
  width: 300px;
  height: 50px;
  /* border-radius: 15%; */
}


.NameAndDate {
  padding: 5px 10px;
  height: auto;

}


.Qname {
  font-size: 20px;
  height: 20px;
  margin-bottom: 5px;
}


.Qdate {
  font-size: 15px;
}


.Q {
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  width: 50px;
}


.question-body {
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  width: 70%;
  height: auto;
  line-height: 1.42857;
}

.help-report {
  display: inline-block;
  width: 30%;
}

.hr-flex {
  display: flex;
  justify-content: end;
  font-size: 15px;
  margin-right: 15px;;
}


.helpful {
  margin: 0 5px;
}

.report {
  margin: 0 5px;
}







/* Answers */

.Acontainer {
  /* border: 1px solid black; */
  margin: 5px 10px;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
}


.A {
  display: inline-block;
  vertical-align: top;
  padding: 0 4px
}

.answerList {
  display: inline-block;
  padding: 0 5px;
  width: 90%;
  border-bottom: 1px solid black;
}

.scroll-list {
  display: inline-block;
  overflow: auto;
  max-height: 400px;
  padding: 0 5px;
  width: 90%;
  border-bottom: 1px solid black;
}

.Answer {
  margin-bottom: 10px;
}

.answer-body {
  display: inline-block;
  width: 100%;
  color: green;
  padding-bottom: 5px;
}

.answer-info {
  display: flex;
  margin-bottom: 20px;
}

.answer-hr-flex {
  display: flex;
  justify-content: start;
  padding-left: 20px;
  font-size: 15px;
}

.Aname {
  display: inline-block;
  font-size: 15px;
  width: auto;
  padding-right: 20px;
}

.Adate {
  display: inline-block;
  font-size: 15px;
}

.answer-photos {
  display: flex;
  gap: 15px;
}

.sm-answer-photo {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  /* padding: 0 10px; */
}

.lg-answer-photo {
  position: fixed;
  width: 800px;
  height: 800px;
  z-index: 10;
  top: 50%;
  left: 50%;
  background: grey;
  transform: translate(-50%,-50%);
  border-radius: 10%;
}

.answer-buttons {
  display: flex;
  margin-left: 12px;
  padding-top: 0px;
}


.front {
  z-index: 10;
}

.invalid-email {
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  height: 275px;
  width: 500px;
  top: 50%;
  left: 50%;
  background: grey;
  transform: translate(-50%,-50%);
}

.warning {
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  height: 275px;
  width: 500px;
  top: 50%;
  left: 50%;
  background: grey;
  transform: translate(-50%,-50%);
}

.modal-background {
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.modal-body {
  display: flex;
  justify-content: space-evenly;
  position:fixed;
  background: lightgrey;
  width: 80%;
  height: 300px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


.hide {
  display: none;
}