* {
  box-sizing: border-box;
  /* width: 100%; */
}

html {
  scroll-behavior: smooth;
}




.on-load-Q-content {
  display: flex;
  flex-direction: column;
  margin: 2% 10%;
  overflow: hidden;
  transition: max-height 0.4s ease;
}


.larger-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 2% 10%;
  background-color: #f5f2f0;
  transition: max-height 0.7s ease;
}








.QandA {
  margin-top: 50px;
  display: flex;
  align-items:center;
  margin-top: 80px;
  height: 80px;
}


.QAheader {
  height: auto;
  max-width: fit-content;
  margin-left: 10%;
  font-size: 60px;
}

.searchDiv {
  padding-top: 10px;
}

.addQ {
  margin-left: auto;
  margin-right: 10%;
}

.addQbutton {
  border: 2px solid #fca311;
  background: transparent;
  border-radius: 18px;
  color: grey;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 160px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.addQbutton:hover {
  background: #fca311;
  color: white;
}

.moreQs {
  border: 2px solid #fca311;
  background: transparent;
  border-radius: 18px;
  color: grey;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 230px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  /* margin-left: 7%; */
}

.moreQs:hover {
  background: #fca311;
  color: white;
}

.exp-moreQs {
  border: 2px solid #fca311;
  background: transparent;
  border-radius: 18px;
  color: grey;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 120px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.exp-moreQs:hover {
  background: #fca311;
  color: white;
}

.question-btns {
  display: flex;
  margin-bottom: 70px;
  margin-left: 10%;
}

.addA {
  border: 2px solid #fca311;
  background: transparent;
  border-radius: 18px;
  color: grey;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  width: 160px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.addA:hover {
  background: #fca311;
  color: white;
}

.answer-btns {
  display: flex;
}

.header {
  display: inline-block;
  height: auto;
  font-size: 30px;
}

.search-bar {
  display: inline-block;
  margin: 10px 0px;
}

.search {
  font-size: 15px;
  border: 2px solid #fca311;
  background-color: transparent;
  margin: 10px 40px;
  width: 310px;
  height: 40px;
  border-radius: 18px;
  padding-left: 20px;
}


.NameAndDate {
  padding: 5px 10px;
  height: auto;

}


.Qname {
  font-size: 18px;
  height: 20px;
  margin-bottom: 5px;
}


.Qdate {
  font-size: 15px;
  color: grey;
}


.Q {
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.question-body {
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  width: 70%;
  height: auto;
  line-height: 1.42857;

}

.help-report {
  display: inline-block;
  width:100%;
  position:relative;
  right: 0px;
  color: grey
}

.hr-flex {
  display: flex;
  justify-content: end;
  font-size: 15px;
  margin-right: 15px;;
}



.helpful {
  margin: 0 5px;
}

.helpful:hover {
  color: #fca311;
  cursor: pointer;
}

.report {
  margin: 0 5px;
  transition: color .2s ease-in-out
}

.report:hover {
  color: #fca311;
  cursor: pointer;
}


.addQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
}

.formPrompt {
  display: inline-block;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin-top: 45px;
  margin-left: 25%;
}

.answer-title {
  display: inline-block;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-left: 25%;
  margin-top: 12px;
  max-width: 55%;
  text-align: left;
}

.formInputs {
  min-width: 80%;
  margin: auto auto;
  border: none;
}

.formTitle {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  margin: 0 0 38px;
  margin-left: 25%;
  text-align: left;
  max-width: 60%;
}

.quesTitle {
  display: inline-block;
  font-size: 19px;
  margin-bottom: 3px;
}

.sub-title {
  color: #737373;
  display: block;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 100%;
  font-size: 13px;
}

.formInput {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 3px;
  background-color: #f1f1f1;
  border: none;
  font-size: 16px;
  line-height: 38px;
  min-height: 38px;
  padding-left: 12px;
  width: 100%;
}

.quesBody {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  border: none;
  min-height: 150px;
  max-width: 100%;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
}

input[type=text] {
  word-wrap: break-word;
  word-break: break-all;
  height: 60px;
}

input[type=email] {
  word-wrap: break-word;
  word-break: break-all;
  height: 60px;
}

label {
  display: block;
  margin-top: 1em
}

input {
  display: block;
  margin-top: 1em;
  border-radius: 5px;
}

.submit {
  background: #202020;
  display: inline-block;
  border: 0;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 36px;
  width: 200px;
  padding: 0 24px;
  position: relative;
  margin-left: 10%;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.submit:hover {
  color: black;
  background-color:white
}

.exit {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  transition: color .2s ease-in-out
}

.exit:hover {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  color: white
}


.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 25px 22px 25px 0;
}




.Acontainer {
  margin: 5px 10px;
  /* border-bottom: 1px solid black; */
}


.A {
  display: inline-block;
  font-size: 21px;
  vertical-align: top;
  padding: 0 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.answerList {
  background-color: #f5f2f0;
  display: inline-block;
  padding: 0 16px;
  width: 90%;
  overflow: hidden;
  transition: max-height 0.7s ease;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}



.scroll-list {
  background-color: #f5f2f0;
  display: inline-block;
  overflow: auto;
  padding: 0 16px;
  width: 90%;
  transition: max-height 0.7s ease;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.Answer {
  margin-bottom: 10px;
}

.answer-body {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}

.answer-info {
  display: flex;
  margin-bottom: 20px;
}

.answer-hr-flex {
  display: flex;
  justify-content: start;
  padding-left: 20px;
  font-size: 15px;
}

.Aname {
  color: grey;
  display: inline-block;
  font-size: 15px;
  width: auto;
  padding-right: 20px;
}

.Adate {
  width: 400px;
  color: grey;
  display: inline-block;
  font-size: 15px;
}

.answer-photos {
  display: flex;
  gap: 15px;
  padding-bottom: 8px
}

.sm-answer-photo {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  /* padding: 0 10px; */
}


.lg-answer-photo {
  position: fixed;
  width: 800px;
  height: 800px;
  z-index: 10;
  top: 50%;
  left: 50%;
  background: grey;
  transform: translate(-50%,-50%);
  border-radius: 10%;
}

.answer-buttons {
  display: flex;
  margin-left: 12px;
  padding-top: 0px;
}


.front {
  z-index: 100;
}

.invalid-email {
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  height: 275px;
  width: 500px;
  top: 50%;
  left: 50%;
  background: grey;
  transform: translate(-50%,-50%);
}

.warning {
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  height: 275px;
  width: 500px;
  top: 50%;
  left: 50%;
  background: grey;
  transform: translate(-50%,-50%);
}

.modal-background {
  z-index: 1;
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.modal-body {
  position:fixed;
  background: lightgrey;
  min-width: 700px;
  min-height: 700px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5%;
}



.hide {
  display: none;
}