.main {
  display: flex;
  width: 93%;
  height: 400px;
  flex-direction: row;
  overflow: hidden;
}
.track {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: row;
  overflow: hidden;
}

.card-container {
  min-width: 16.66666666%;
  max-width: 16.66666666%;
}

.card {
  min-width: 15.6%;
  max-width: 15.6%;
  height: 400px;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.card-inner {
  display: flex;
  height: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
}

.left {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  left: 0;
}

.right {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  right: 0;
}

.card .bottom {
  height: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 20px;
}


.stars {
  color: yellow;
  width: 100%;
}

.action {
  color: #fca311;
  cursor: pointer;
}

.price-container {
  display: flex;
}

.price {
  text-decoration-color: red;
  text-decoration-line: line-through;
  text-decoration-thickness: 15%;
  padding-right: 10%;
}