.main {
  display: flex;
  width: 50%;
  height: 400px;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  place-content: center;
  justify-content: center;
}

.sub-main {
  display: flex;
  width: 90%;
  height: 400px;
  flex-direction: row;
  overflow: hidden;
  place-content: center;
  justify-content: center;
}

.track {
  display: flex;
  width: 33%;
  height: 400px;
  flex-direction: row;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

.card-container {
  min-width: 33%;
  max-width: 33%;
}

.card {
  min-width: 90%;
  max-width: 90%;
  height: 400px;
  background-color: #f5f2f0;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.add-fit {
  display: flex;
  height: 80.03%;
  min-width: 92.117077309%;
  max-width: 92.117077309%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  background-color: #e1e1e1;
  justify-content: center;
  border-style: solid;
  border-radius: 0;
  border-width: medium;
  border-color: black;
  cursor: pointer;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.add-track {
  display: flex;
  width: 33%;
  height: 400px;
  flex-direction: row;
  place-content: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

.add {
  min-width: 15.6%;
  max-width: 15.6%;
  height: 400px;
  background-color: #f5f2f0;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.bottom {
  background-color: #e1e1e1;
  display: flex;
  height: 80%;
  width: 102.35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
}

.card-inner {
  display: flex;
  height: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  border-style: solid;
}

.left {
  height: inherit;
  display: grid;
  place-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  left: 0;
}

.right {
  height: inherit;
  display: grid;
  place-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  right: 0;
}

.card .bottom {
  height: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product-name {
  font-weight: 700;
}

.stars {
  color: goldenrod;
  width: 100%;
}

.action-compare {
  color: #fca311;
  cursor: pointer;
}

.action-remove {
  color: black;
  cursor: pointer;
}

.price-container {
  display: flex;
}

.price {
  text-decoration-color: red;
  text-decoration-line: line-through;
  text-decoration-thickness: 15%;
  padding-right: 10%;
}

.compare-background {
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  align-items: center;
  background-color: rgba(0,0,0,0.75);
  margin: 0;
  padding: 0;
  cursor: auto;
}

.main-compare {
  z-index: 10;
  display: flex;
  width: 35%;
  height: 35%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  position: fixed;
  margin: auto;
  text-align: center;
  border-style: solid;
  background: linear-gradient(145deg, #4564a7, #203b77);
  border-radius: .5rem;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.feat-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.feat-container {
  padding: 5px;
  flex: 1;
  overflow-y: auto;
}

.feat-row {
  display: flex;
  text-align: center;
}

.main-value, .feature, .cur-value {
  border: solid;
  border-color: #fca311;
  border-style: groove;
  border-width: thin;
  color: #fca311;
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

h2 {
  color: #fca311;
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

.compare-arrow {
  color: #fca311;
  flex: 1;
}

.compare-title {
  z-index: 1;
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  color: #fca311;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

.prod-names {
  flex: 1;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-direction: row;
  height: 15%;
  width: 100%;
}