body {
  background-color: #f5f2f0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 100vh;
}

h1 {
  text-align: center;
}
/* targets App div*/
#light {
  background-color: #f5f2f0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* targets App div*/
#dark {
  background-color: #001E3C;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#dark .nav {
  width: inherit;
  background-color: #24314d;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: thin;
  border-color: #f5f2f0;
}
#light .nav {
  width: inherit;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: thin;
  border-color: #001E3C;
}
.logo {
  color: #fca311;
  left: 0;
  padding-left: 2rem;
  margin: 0;
  flex: 20;
  text-align: left;
  align-self: center;
}
#dark .theme-icon {
  color: #f5f2f0;
  cursor: pointer;
  right: 0;
  height: 2%;
  width: 2%;
  align-self: center;
  background-color: inherit;
}
#light .theme-icon {
  color: #001E3C;
  cursor: pointer;
  right: 0;
  height: 2%;
  width: 2%;
  align-self: center;
  background-color: inherit;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/* Star Rating CSS */
.rating {
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --size: 3rem;
  --length: calc(var(--size) * 5);
  inline-size: var(--length);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
  background-color:rgba(0, 0, 0, 0);
  mask: repeat left center/var(--size) var(--star);
  display: flex;
}

/*  Firefox Styles For Star Rating Range  */
.rating::-moz-range-track {
  background: rgba(100,100,100, 0.15);
  block-size: 100%;
  mask: repeat left center/var(--size) var(--star);
}
.rating::-moz-range-thumb {
  height: var(--size);
  opacity: 0;
  width: var(--size);
  background: goldenrod;
  block-size: 100%;
  mask: repeat left center/var(--size) var(--star);
}

/*  Chrome Styles For Star Rating Range */
.rating::-webkit-slider-runnable-track {
  background: rgba(100,100,100, 0.15);
  block-size: 100%;
  mask: repeat left center/var(--size) var(--star);
  -webkit-mask: repeat left center/var(--size) var(--star);
}
.rating::-webkit-slider-thumb {
  height: var(--size);
  opacity: 0;
  width: var(--size);
  -webkit-appearance: none;
  background-color: goldenrod;
  box-shadow: calc(0rem - var(--length)) 0 0 var(--length) goldenrod;
  opacity: 1;
  width: 1px;
}
 .rating-small {
  --size: 2rem;
}
.rating-new {
  --size: 2rem;
}
.rating-overview {
  --size: 2rem;
  display: inline;
}

/*      Related        */
.rel-stars {
  --size: 1.5rem;
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  width: 50%;
  height: 400px;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  place-content: center;
  justify-content: center;
}

.sub-main {
  display: flex;
  width: 90%;
  height: 400px;
  flex-direction: row;
  overflow: hidden;
  place-content: center;
  justify-content: center;
}

.track {
  display: flex;
  width: 33%;
  height: 400px;
  flex-direction: row;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.card {
  min-width: 90%;
  max-width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.add-fit {
  display: flex;
  height: 80.03%;
  min-width: 92.117077309%;
  max-width: 92.117077309%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  background-color: #e1e1e1;
  justify-content: center;
  border-style: solid;
  border-radius: 0;
  border-width: medium;
  border-color: black;
  cursor: pointer;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.add-track {
  display: flex;
  width: 33%;
  height: 400px;
  flex-direction: row;
  place-content: center;
}

.rel-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  color: #fca311;
}
.add-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  color: black;
}

#dark .bottom {
  border-style: solid;
  border-width: thin;
  height: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #24314d;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  color: #e1e1e1;
}
#light .bottom {
  border-style: solid;
  border-width: thin;
  height: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #e1e1e1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  width: 102.35%;
}

.card-inner {
  display: flex;
  height: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  border-style: solid;
  border-width: thin;
  color: #e1e1e1;
}

.left {
  height: inherit;
  display: grid;
  place-items: center;
  color: gray;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  left: 0;
}

.right {
  height: inherit;
  display: grid;
  place-items: center;
  color: gray;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  right: 0;
}

/* .card .bottom {
  height: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

.product-name {
  font-weight: 700;
}

.action-compare {
  color: #fca311;
  cursor: pointer;
}


.action-remove {
  color: black;
  cursor: pointer;
}

.price-container {
  display: flex;
}

.price {
  text-decoration-color: red;
  text-decoration-line: line-through;
  text-decoration-thickness: 15%;
  padding-right: 10%;
}

.compare-background {
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  align-items: center;
  background-color: rgba(0,0,0,0.75);
  margin: 0;
  padding: 0;
  cursor: auto;
}

.main-compare {
  z-index: 10;
  display: flex;
  width: 35%;
  height: 35%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  position: fixed;
  margin: auto;
  text-align: center;
  border-style: solid;
  background: linear-gradient(145deg, #4564a7, #203b77);
  border-radius: .5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.feat-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.feat-container {
  padding: 5px;
  flex: 1;
  overflow-y: auto;
}

.feat-row {
  display: flex;
  text-align: center;
}

.main-value, .feature, .cur-value {
  border: solid;
  border-color: #fca311;
  border-style: groove;
  border-width: thin;
  color: #fca311;
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

.prod-sub {
  color: #fca311;
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

.compare-arrow {
  color: #fca311;
  flex: 1;
}

.compare-title {
  z-index: 1;
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  color: #fca311;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

.prod-names {
  flex: 1;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-direction: row;
  height: 15%;
  width: 100%;
}

.stars {
  flex: 5;
}

/*       Questions        */

html {
  scroll-behavior: smooth;
}


.larger-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 2% 10%;
  background-color: #f5f2f0;
  transition: max-height 0.6s ease;
}

.QandA {
  margin-top: 50px;
  display: flex;
  align-items:center;
  margin-top: 80px;
  height: 80px;
}

.QAheader {
  color: #fca311;
  height: auto;
  max-width: fit-content;
  margin-left: 10%;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.searchDiv {
  padding-top: 10px;
}

.addQ {
  margin-left: auto;
  margin-right: 10%;
}

#dark .addQbutton {
  color: #001E3C
}

.addQbutton {
  border: 2px solid #fca311;
  background: #fca311;
  color: white;
  cursor: pointer;
  border-radius: 18px;
  border-radius: 33px;
  font-size: 20px;
  height: 60px;
  width: 200px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#dark .addQbutton:hover {
  background: transparent;
  color: #fca311;
}

#light .addQbutton:hover {
  background: transparent;
  color: grey;
}

#dark .moreQs {
  border: 2px solid #fca311;
  color: #fca311;
  background: transparent;
  border-radius: 18px;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 230px;
  padding: 0 10px;
  position: relative;
  margin-top: 0;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#light .moreQs {
  border: 2px solid #fca311;
  color: grey;
  background: transparent;
  border-radius: 18px;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 230px;
  padding: 0 10px;
  position: relative;
  margin-top: 0;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#dark .moreQs:hover {
  background: #fca311;
  color: #001E3C;
}

#light .moreQs:hover {
  background: #fca311;
  color: white;
}

.exp-moreQs {
  border: 2px solid #fca311;
  background: transparent;
  border-radius: 18px;
  color: grey;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 120px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.exp-moreQs:hover {
  background: #fca311;
  color: white;
}

.question-btns {
  display: flex;
  margin-bottom: 70px;
  margin-left: 10%;
}

#dark .addA {
  border: 2px solid #fca311;
  background: transparent;
  border-radius: 18px;
  color: #fca311;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  width: 160px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#light .addA {
  border: 2px solid #fca311;
  background: transparent;
  border-radius: 18px;
  color: grey;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  width: 160px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#dark .addA:hover {
  background: #fca311;
  color: #001E3C;
}


#light .addA:hover {
  background: #fca311;
  color: white;
}

.answer-btns {
  display: flex;
}

.header {
  display: inline-block;
  height: auto;
  font-size: 30px;
}

.search-bar {
  display: inline-block;
  margin: 10px 0px;
}

#dark .search {
  color: #fca311;
  font-size: 15px;
  border: 2px solid #fca311;
  background-color: transparent;
  margin: 10px 40px;
  width: 310px;
  height: 40px;
  border-radius: 18px;
  padding-left: 20px;
}

.search {
  font-size: 15px;
  border: 2px solid #fca311;
  background-color: transparent;
  margin: 10px 40px;
  width: 310px;
  height: 40px;
  border-radius: 18px;
  padding-left: 20px;
}

#light .NameAndDate {
  padding: 5px 10px;
  height: auto;
}

#dark .NameAndDate {
  color: #fca311;
  padding: 5px 10px;
  height: auto;
}

.Qname {
  font-size: 18px;
  height: 20px;
  margin-bottom: 5px;
}

#dark .darkBody {
  color: #fca311
}

.Qdate {
  font-size: 15px;
  color: #fca311;
}


.Q {
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.question-body {
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  width: 70%;
  height: auto;
  line-height: 1.42857;
}


.help-report {
  display: inline-block;
  width:100%;
  position:relative;
  right: 0px;
  color: grey
}

.hr-flex {
  display: flex;
  justify-content: end;
  font-size: 15px;
  margin-right: 15px;;
}



.helpful {
  margin: 0 5px;
}

.helpful:hover {
  color: #fca311;
  cursor: pointer;
}

.report {
  margin: 0 5px;
  transition: color .2s ease-in-out
}

.report:hover {
  color: #fca311;
  cursor: pointer;
}


.addQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
}

.formPrompt {
  display: inline-block;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin-top: 45px;
  margin-left: 20%;
}

.answer-title {
  display: inline-block;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 12px;
  max-width: 60%;
  text-align: left;
}

#dark ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fca311;
}



.formInputs {
  min-width: 80%;
  margin: auto auto;
  border: none;
}

.formTitle {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  margin: 0 0 38px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 60%;
}

.quesTitle {
  display: inline-block;
  font-size: 19px;
  margin-bottom: 3px;
}

.sub-title {
  color: #737373;
  display: block;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 100%;
  font-size: 13px;
}

#dark .formInput {
  background-color: grey;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 3px;
  border: none;
  font-size: 16px;
  line-height: 38px;
  min-height: 38px;
  padding-left: 12px;
  width: 100%;
}

#light .formInput {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 3px;
  background-color: #f1f1f1;
  border: none;
  font-size: 16px;
  line-height: 38px;
  min-height: 38px;
  padding-left: 12px;
  width: 100%;
}

#dark .quesBody {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: grey;
  border: none;
  min-height: 150px;
  max-width: 100%;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  border-radius: 15px;
}

.quesBody {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  border: none;
  min-height: 150px;
  max-width: 100%;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  border-radius: 15px;
}

input[type=text] {
  word-wrap: break-word;
  word-break: break-all;
  height: 60px;
}

input[type=email] {
  word-wrap: break-word;
  word-break: break-all;
  height: 60px;
}

label {
  display: block;
  margin-top: 1em
}

input {
  display: block;
  margin-top: 1em;
  border-radius: 15px;
}

.submit {
  background: #202020;
  display: inline-block;
  border: 0;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 36px;
  width: 200px;
  padding: 0 24px;
  position: relative;
  margin-left: 10%;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.submit:hover {
  color: black;
  background-color:white
}

.exit {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  transition: color .2s ease-in-out
}

.exit:hover {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  color: white
}


.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 25px 22px 25px 0;
}


#light .Acontainer {
  margin: 5px 10px;
}

#dark .Acontainer {
  background-color: #001E3C;
  color: #fca311;
  margin: 5px 10px;
}

.A {
  display: inline-block;
  font-size: 21px;
  vertical-align: top;
  padding: 0 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#light .answerList {
  background-color: #f5f2f0;
  display: inline-block;
  padding: 0 16px;
  width: 90%;
  overflow: hidden;
  height: 100%;
  transition: max-height 0.4s ease-out;
}
#dark .answerList {
  background-color: #001E3C;
  color: #fca311;
  display: inline-block;
  padding: 0 16px;
  width: 90%;
  overflow: hidden;
  height: 100%;
  transition: max-height 0.4s ease-out;
}

#dark .scroll-list {
  background-color: #001E3C;
  color: #fca311;
  overflow: auto;
  padding: 0 16px;
  width: 90%;
  transition: max-height 0.4s ease-out;
  margin-bottom: 10px;
}


#light .scroll-list {
  background-color: #f5f2f0;
  overflow: auto;
  padding: 0 16px;
  width: 90%;
  transition: max-height 0.4s ease-out;
  margin-bottom: 10px;
}

.Answer {
  margin-bottom: 10px;
  display: inline-block;
}

.answer-body {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 4px;
}

.answer-info {
  display: flex;
  margin-bottom: 20px;
}

.answer-hr-flex {
  display: flex;
  justify-content: start;
  padding-left: 20px;
  font-size: 15px;
}

.Aname {
  color: grey;
  display: inline-block;
  font-size: 15px;
  width: auto;
  padding-right: 20px;
}

.Adate {
  width: 400px;
  color: grey;
  display: inline-block;
  font-size: 15px;
}

.answer-photos {
  display: flex;
  gap: 15px;
  padding-bottom: 8px
}

.sm-answer-photo {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  cursor: pointer;
}

.lg-answer-photo {
  position: fixed;
  width: 700px;
  height: auto;
  z-index: 10;
  top: 50%;
  left: 50%;
  background: grey;
  transform: translate(-50%,-50%);
  border-radius: 10%;
}


.answer-buttons {
  display: flex;
  margin-left: 12px;
  padding-top: 0px;
}

.front {
  z-index: 100;
}

.invalid-email {
  color: blue;
}

.warn-modal {
  border-radius: 30px;
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 615px;
  top: 50%;
  left: 50%;
  border: 3px solid #fca311;
  background: grey;
  transform: translate(-50%,-136%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.behind {
  z-index: -9999;
  height: 125px;
  width: 615px;
  top: 50%;
  left: 50%;
  transition: ease z-index 1s;
}

.warning {
  text-align: center;
  font-size: 22px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-background {
  z-index: 1;
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

#light .modal-body {
  position:fixed;
  background: lightgrey;
  min-width: 700px;
  min-height: 700px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5%;
  height: auto;
  width: auto;
  bottom: auto;
  right: auto;
}

#dark .modal-body {
  position:fixed;
  background: #24314d;
  min-width: 700px;
  min-height: 700px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5%;
  color: #fca311;
  height: auto;
  width: auto;
  bottom: auto;
  right: auto;
}

.hide {
  display: none;
}

/*     Reviews       */

button {
  margin: 1rem;
  background-color:#fca311;
  background: linear-gradient(0deg, #fca311, #f2d9b1);
  color: #14213d;
  border-radius: .25rem;
}

hr {
  text-align:center;
  margin-left: .5rem;
  margin-right: 1.5rem;
}

.userDate {
  display: flex;
}
.username {
  text-align: left;
}
.timestamp {
  text-align: right;
}
.helpful-circle {
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-radius: 50%;
  background-color:#fca311;
  background: linear-gradient(-45deg, #fca311, #f2d9b1);
  justify-content: center;
}
.helpfulness {
  justify-content: center;

  display: flex;
}
.report-container {
  display:flex;
  justify-content:center;
}
.review-nav {
  display: flex;
  justify-content: center;
}
.review-modal {
  z-index:1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.75);
}
.modal-content {
  position: relative;
  margin: auto;
  width: 75%;
  max-width: 40rem;

  border-radius: 5%;
}
#dark .modal-content {
  background: linear-gradient(0deg, #24314d, #394a73);
}
#light .modal-content {
  background: linear-gradient(325deg, #e5e5e5, #f9f9f9);
}
.modal-row {
  display: flex;
  justify-content: center;
}

.review-title {
  display: inline-block;
  font-size: 2em;
  text-align: center;
}
.review-input{
  min-height: 10rem;
  padding: .5rem;
  margin-bottom: 1rem;
  max-width: 80%;
  min-width: 80%;
  border:none;
  border-radius: .5rem;
}
#light .review-input{
  background-color: #f5f5f5;
}
#dark .review-input{
  background-color: #414141;
}
.misc-review-input {
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  line-height: 2rem;
  min-height: 2rem;
  padding-left: 1rem;
  width: 80%;
}
#light .misc-review-input {
  background-color: #f5f5f5;
}
#dark .misc-review-input {
  background-color: #414141;
}
.new-review-label {
  display: block;
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: 80%;
  font-size: .8rem;
}
#light .new-review-label {
  color: #737373;
}
#dark .new-review-label {
  color: #adadad;
}
.reviews {
  display: flex;
  flex-direction: column;
  margin: 2% 10%;
  overflow: hidden;
  transition: max-height 0.4s ease;
  width: 80% !important;
}
#dark .reviews {
  color: #f5f5f5;
}
#light .reviews {
  color: #101010;
}

.review {
  max-height: 40rem;
  width: 90%;
  background: linear-gradient(325deg, #e9e9e9, #f1f1f1);
  border-radius: 1.5rem;
  margin: 1rem;
  padding: .5rem;
  padding-left: 1.5rem;
}
#dark .review {
  background: linear-gradient(325deg, #24314d, #26324f);
  border: double #f5f5f5;
  color: #f5f5f5;
}
#light .review {
  background: linear-gradient(325deg, #e9e9e9, #f1f1f1);
  border-style: double #101010;
  color: #101010;
}
.review-body {
  max-height: 10rem;
  overflow-y: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.StarIcon {
  color: goldenrod;
}
.StarIconEmpty {
  color: gray;
}
.ReviewImage {
  max-width: 10rem;
  max-height: 10rem;
}
.Meta-Reviews {
  flex-grow: 1;
}
.Review-Container-Over {
  flex-grow: 25;
}
.Review-Container {
  max-height: 45rem;
  overflow-y: auto;
}
.Rating-Review {
  display: flex;
  justify-content: space-around;
}

.Review-Button {
  border: 2px solid #fca311;
  background: transparent;
  border-radius: 18px;
  color: grey;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 160px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  margin-left: 60%;
  margin-right: 5px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}
.Review-Button:hover {
  background: #fca311;
  color: white;
}
.Rate-Review-Head {
  margin-top: 50px;
  display: flex;
  align-items:center;
  margin-top: 80px;
  height: 80px;
}
.Review-Header {
  color: #fca311;
  height: auto;
  max-width: fit-content;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.New-Review-Button {
  margin-left: auto;
  margin-right: 10%;
}

/*    Overview       */

#dark .sidebar {
  background-color: #24314d;
  border: solid #f5f5f5;
  border-radius: 5px;
  margin-left: 60%;
  margin-top: 50px;
  margin-right: 5%;
  color: #f5f5f5;
  top: 5%;
}
#light .sidebar {
  border: solid black;
  border-radius: 5px;
  margin-left: 60%;
  margin-top: 50px;
  margin-right: 5%;
  top: 5%;
}

.Product-Info {
  padding: 10px;
}

.product-title {
  text-align: center;
}

.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-text {
  font-size: 13px;
  padding-top: 13px;
  cursor: pointer;
}

.product-category {
  text-align: center;
}

.sale {
  display: flex;
  justify-content: center;
}

.struckthrough-price {
  text-decoration: line-through;
  text-align: center;
}

.sale-price {
  color: red;
  text-align: center;
  padding-left: 5px;
}

.default-price {
  text-align: center;
}

.share-icons {
  font-size: small;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: #fca311;
}

.Styles-Selector {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.style {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}
.style-title {
  display: list-item;
  list-style-type: none;
  font-size: 10px;
  max-width: 50px;
  text-align: center;
}

.checkmark {
  position: absolute;
  color: limegreen;
  padding-left: 24px;
}
.style-thumbnail {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  /* background-image: linear-gradient(to right, green, black); */
}

.Cart {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
}

.selectors {
  display: flex;
  flex-direction: row;
}
.quantity-selector {
  padding-left: 10px;
}

.add-to-cart-button {
  cursor: pointer;
}

.image-gallery-default {
  display: flex;
}

.default-photo {
  cursor: zoom-in;
  position: absolute;
  top: 5%;
  margin-top: 50px;
  left: 15%;
  object-fit: contain;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 60px;
  min-height: 80%;
  max-height: 500px;
  justify-content: center;
}

.thumbnail {
  cursor: pointer;
  padding: 5px;
  height: 60px;
  width: 60px;
  border-radius: 5%;
}

.previous {
  cursor: pointer;
  position: absolute;
  left: 30%;
  top: 4%;
  transform: rotate(90deg);
}

.next {
  cursor: pointer;
  position: absolute;
  left: 30%;
  top: 93%;
  transform: rotate(90deg);
}
.img-wrapper {
  overflow: hidden;
}

.expanded-photo {
  display: block;
  cursor: crosshair;
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
  min-height: 90%;
  align-self: flex-start;
  object-fit: contain;
}

.expanded-photo-zoom {
  cursor: crosshair;
  transform: scale(2.5);
  max-height: 615px;
  max-width:  100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .2s ease-out;
  z-index: 2;
}

.expanded-view-icons {
  cursor: pointer;
  flex: 1;
  z-index: 1;
  bottom: 0;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.expanded-view-icon {
  object-fit: contain;
}

.expanded-previous {
  top: 40%;
  left: 5%;
  position: absolute;
  cursor: pointer;
  color: white;
}

.expanded-next {
  top: 40%;
  right: 7%;
  position: absolute;
  cursor: pointer;
  color: white;
}

.expanded-modal {
  z-index:1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
}

.close-expanded {
  position: absolute;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}