.sidebar {
  border: solid black;
  border-radius: 5px;
  margin-left: 60%;
  margin-top: 50px;
}

.Product-Info {
  padding: 10px;
}

.star-text {
  font-size: 13px;
}

.Styles-Selector {
  margin-top: 10px;
  padding: 10px;
}

.Cart {
  margin-top: 10px;
}

.style {
  display: inline-block;
  cursor: pointer;
}
.style-title {
  display: list-item;
  list-style-type: none;
}

.thumbnail {
  display: inline-block;
  cursor: pointer;
}

.default-photo {
  cursor: zoom-in;
}

.expanded-photo {
  display: block;
  cursor: crosshair;
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
  min-height: 90%;
  align-self: flex-start;
}

.expanded-view-icon {
  cursor: pointer;
  flex: 1;
  z-index: 2;
  bottom: 0;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.expanded-previous {
  top: 40%;
  left: 5%;
  position: absolute;
  cursor: pointer;
}

.expanded-next {
  top: 40%;
  right: 7%;
  position: absolute;
  cursor: pointer;
}

.previous {
  cursor: pointer;
}

.next {
  cursor: pointer;
}

.add-to-cart {
  cursor: pointer;
}

.quantity-button {
  cursor: pointer;
}

.quantity-list {
  list-style-type: none;
  cursor: pointer;
}

.size-button {
  cursor: pointer;
}

.size-list {
  list-style-type: none;
  cursor: pointer;
}

.expanded-modal {
  z-index:1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
}

.close-expanded {
  position: absolute;
  border: 2px solid black;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
